{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'styles/verify.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>FakeSense</title>
</head>
<body>
  <div id="div1">
    <header>
      <img class="logo" src="{% static 'images/logo-blue.png' %}" alt="No image found" />
      <nav>
        <ul class="nav_links">
          <li><a href="#div2">Tutorial</a></li>
          <li><a href="#div3">About</a></li>
          <li><a href="#div5">Contact</a></li>
        </ul>
      </nav>
      {% if user.is_authenticated %}
      <a href="/settings" class="cta"><button>Profile</button></a>
      {% else %}
      <a href="/signup" class="cta"><button>Login/Signup</button></a>
      {% endif %}
    </header>
    <article>
      <div class="left_pane container px-0" style="width: 55%">
        <div class="verify-header container text-center">
          <div class="row align-items-start">
            <div class="col row align-items-center">
              <button class="article-button">
                <div class="icon-circle">
                  <i class="bi bi-file-earmark-text"></i>
                </div>
                ARTICLE
              </button>
            </div>
            <div class="col row align-items-center">
              <button class="person-button">
                <div class="icon-circle">
                  <i class="bi bi-person"></i>
                </div>
                ACCOUNT
              </button>
            </div>
          </div>
        </div>
        <div class="verify-textarea container text-center">
          <textarea class="col row align-items-center" id="inputHeaderArea" cols="30" rows="1">{{ headline }}</textarea>
          <textarea class="col row align-items-center" id="inputTextArea" cols="30" rows="18" oninput="updateCharacterCount()">{{ content }}</textarea>
        </div>
        <div class="verify-footer container text-center">
          <div class="character-holder row align-items-start">
            <div class="col d-flex align-items-center m-0">
              <!-- Circle container -->
              <div class="auth-circle"></div>
              <p class="mb-0">Article is Authentic</p>
            </div>
            <div class="col row align-items-start m-0">
              <p class="mb-0" id="characterCount">0 characters</p>
            </div>
          </div>
          <div class="row align-items-start" style="height: 80px">
            <button class="verify-button m-auto" style="width: 20%">Verify</button>
          </div>
        </div>
      </div>
      <div class="right_pane container px-0" style="width: 35%">
        <div class="result-header container text-center">
          <div class="row align-items-start">
            <div class="col row align-items-center">
              <button class="result-button">
                <div class="icon-circle">
                  <i class="bi bi-opencollective"></i>
                </div>
                RESULT
              </button>
            </div>
            <div class="col row align-items-center">
              <button class="sources-button">
                <div class="icon-circle">
                  <i class="bi bi-quote"></i>
                </div>
                SOURCES
              </button>
            </div>
          </div>
        </div>
        <div class="result-chart-header container py-3 px-5 align-items-center text-left">
          <p class="mb-0 my-auto"><b>Classification</b></p>
          <p class="m-auto py-2">
            We are highly confident this article is
            <span class="result-label"><b>{% if prediction.Real > 0.5 %}Authentic{% else %}Fake{% endif %}</b></span>{{result}}
          </p>
        </div>
        <div class="result-chart container text-center">
          <canvas id="myChart"></canvas>
          <p class="chart-title" style="color: rgb(33, 145, 251)">
            <b>{% if prediction.Real > 0.5 %}Authentic{% else %}Fake{% endif %}</b>
          </p>
        </div>
        <div class="result-chart-footer container text-center">
          <div class="probability-holder row align-items-start">
            <div class="probability-holder-line probability-contents col row align-items-center m-auto">
              <p class="mb-0"><span>{{ prediction.Real}} </span>Probability: {% if prediction.Real > 0.5 %}Authentic{% else %}Fake{% endif %}</p>
            </div>
            <div class="probability-contents col d-flex align-items-center m-auto">
              <div class="auth-circle" style="background-color: rgba(255, 176, 172, 50)"></div>
              <div class="auth-circle" style="background-color: rgba(255, 219, 125, 50)"></div>
              <div class="auth-circle" style="background-color: rgb(33, 145, 251); border: 1px solid rgba(53, 53, 49, 50)"></div>
              <p class="mb-0">Article is {% if prediction.Real > 0.5 %}Authentic{% else %}Fake{% endif %}</p> 
            </div>
          </div>
        </div>
        <div class="result-footer container py-3 px-5 text-left">
          <p class="mb-0 my-auto"><b>Probability Breakdown</b></p>
          <p>The probability this article/account is Fake, Dubious, or Authentic.</p>
        </div>
        <div class="result-footer-chart container px-5 text-left">
          <div class="line-chart mx-auto" id="line-chart">
            <div class="bar">
              <div class="segment" style="background-color: rgb(33, 145, 251); border-radius: 10px 0 0 10px; width: {{ real_percentage| floatformat:2 }}%"></div>
              <div class="segment" style="background-color: rgb(255, 212, 103); width: 0%"></div>
              <div class="segment" style="background-color: rgb(255, 141, 137); border-radius: 0 10px 10px 0; width: {{ fake_percentage|floatformat:2 }}%"></div>
            </div>
          </div>
        </div>
        <div class="result-footer-chart-tags container text-center">
          <div class="chart-tags mx-auto row align-items-center">
            <div class="col row align-items-center m-0">
              <p class="mb-0" style="color: rgb(33, 145, 251)"><b>Authentic</b></p>
            </div>
            <div class="col row align-items-center m-0">
              <p class="mb-0" style="color: rgb(255, 212, 103)"><b>Dubious</b></p>
            </div>
            <div class="col row align-items-center m-0">
              <p class="mb-0" style="color: rgb(255, 141, 137)"><b>Fake</b>{{result}}</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Authentic', 'Fake'],
        datasets: [{
          data: [{{ prediction.Real }}, {{ prediction.Fake }}],
          backgroundColor: [
            'rgb(33, 145, 251)',
            'rgb(255, 141, 137)'
          ],
          hoverOffset: 4
        }]
      }
    });
  </script>
</body>
</html>
